body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cebae0;
}

video {
    width: 60%;
    border: 3px solid black;
    transform: scaleX(-1); /* This will flip the video feed horizontally */
}

/* #gameInfo { */
    /* Add styles for your game info */
/* } */

#camera, #output {
    position: center;
    transform: scaleX(-1);
}
