@font-face {
    font-family: 'Afacad';
    src: url('"https://fonts.googleapis.com/css2?family=Afacad:wght@400;600;700&family=Courier+Prime&display=swap');
}

* {
    margin: 0;
    padding: 0;
  }

body, html {
    text-align: center;
    justify-content: center;
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Madimi One', sans-serif;
}

video {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 27.5%;
    height: auto;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px 2px rgba(109, 140, 226, 0.8); /* Adjust the color and other values as needed */
    transform: scaleX(-1); /* This will flip the video feed horizontally */
}

/* #gameInfo { */
    /* Add styles for your game info */
/* } */

.text-box {
    font-size: 36px;
    font-family: 'Exo 2', sans-serif;
    color: #ffffff;
    position: absolute;
    width: 28.5%;
    top: 50%;
    left: 0;
    margin-left: 5px;
}

:root {
  /* Base font size */
  font-size: 10px;   
  
  /* Set neon color */
  --neon-text-color: rgb(40, 203, 111);
  --neon-border-color: #08f;
}

h1 {
    font-size: 35px;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 18px;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;     
}

h1::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

h2 {
    font-weight: 200;
    font-size: 25px;
    padding-bottom: 15px;
    padding-top: 22px;
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);

    text-shadow: 
        0 0 5px rgba(255, 255, 255, 0.8), 
        0 0 15px rgba(255, 255, 255, 0.8), 
        0 0 25px rgba(255, 255, 255, 0.8), 
        0 0 10px black;
}

h3 {
    font-weight: 200;
    font-size: 20px;
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);

    text-shadow: 
        0 0 5px rgba(255, 255, 255, 0.7), 
        0 0 15px rgba(255, 255, 255, 0.7), 
        0 0 25px rgba(255, 255, 255, 0.7), 
        0 0 10px black;
}

#camera, #output {
    position: center;
    transform: scaleX(-1);
}

.area {
    padding: 10px;
    text-align: center;
  }
  
  h2 {
    padding: 5px;
    text-align: center;
  }
  
  p {
    width: 500px;
    padding: 1%;
    margin: auto;
  }
  
  .btn {
    text-align: center;
    width: 100px;
    background-color: #A8C2C4;
    border: 2px solid #97aeb0;
    padding: 20px;
    display: inline-block;
    margin: 30px 10px;
    user-select: none;
    cursor: pointer;
  }
  
  .health-box {
    background-color: #ccc;
    height: 30px;
    width: 200px;
    margin: 0 auto;
    border: solid 1px #aaa;
  }
  
  .health-bar {
    background-color: #007f00;
    width: inherit;
    height: 30px;
    position: relative;
    bottom: 60px;
  }
  
  .health-bar-red {
    width: 100%;
    height: 100%;
    background-color: #cc0000;
  }
  
  .health-bar-blue {
    width: 100%;
    height: 100%;
    background-color: #3bd3df;
    bottom: 30px;
    position: relative;
  }
  
  .health-bar-text {
    position: relative;
    bottom: 8px;
  }
  
  .message-box {
    text-align: center;
    padding: 5px;
  }
  
  .total1,
  .message-box {
    font-size: 16px;
    margin: 5px;
  }
  
  .col-md-12 {
    position: absolute;
    right: 0;
    margin-right: 15%;
    top: 22.3%;
  }

  .col-md-11 {
    position: absolute;
    right: 0;
    margin-right: 40%;
    top: 5%;
  }
  
  /* Additional styles for player and enemy */
  .player {
    width: 200px; /* Adjust as needed */
    height: auto;
    margin-right: 10px; /* Adjust as needed for spacing */
  }
  
  /* You can adjust the styles for enemy as well */
  .enemy {
    width: 200px; /* Adjust as needed */
    height: auto;
    margin-left: 10px; /* Adjust as needed for spacing */
  }