@font-face {
    font-family: 'Afacad';
    src: url('"https://fonts.googleapis.com/css2?family=Afacad:wght@400;600;700&family=Courier+Prime&display=swap');
}

body, html {
    font-family: 'Afacad', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cebae0;
}

video {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 20%;
    height: auto;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px 2px rgba(109, 140, 226, 0.8); /* Adjust the color and other values as needed */
    transform: scaleX(-1); /* This will flip the video feed horizontally */
}

#gameInfo {
    /* Add styles for your game info */
}
